@model IEnumerable<DigitalPepak.Parikan>

@{
    ViewBag.Title = "Parikan";
    Layout = "~/Views/Shared/_LayoutParikan.cshtml";
}

<br />
        <div class="jumbotron">
            <h1>Parikan</h1>
            <p>Parikan yaiku unen – unen kang dumadi saka rong ukara. Ukara sepisanan kanggo narik kawigaten, lan ukara kapindho minangka isi.</p>
        </div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsiParikan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsiParikan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParikanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParikanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParikanId })
        </td>
    </tr>
}

</table>
